:root {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: rgb(78, 67, 75); */
}

.center {
    width: 100vw;
    height: 100vh;
}

BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
    font-family: arial, helvetica, sans-serif;
}

.accuracy {
    font: bold 15px sans-serif;
    fill: rgba(0, 0, 0, 0.4);
}

.heavy {
    font: bold 20px sans-serif;
    fill: rgba(0, 0, 0, 0.4);
}

.clicked {
    color: white;
}

.button-div {
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

H1 {
    font-size: 3em;
    font-family: arial, helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.05em;
    padding: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0em 0em 0.15em rgb(211, 211, 211);
    text-shadow: 0em 0em 1px rgb(68, 68, 68);
}

#menu-main {
    border-radius: 5px;
    overflow: hidden;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: end;

    background-image: url("./cool_and_manly_bg.jpg");
    background-position: center;
    background-size: cover;

    box-sizing: border-box;

    width: 360px;
    height: 400px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 0.5rem;

    overflow-x: hidden;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#menu::-webkit-scrollbar {
    display: none;
}

.menu_item {
    box-sizing: border-box;
    flex-grow: 0;
    padding: 10px;
    border-radius: 5px;

    filter: drop-shadow(1px 1px 1px);
    box-shadow: 0.1rem 0.1rem 1rem rgb(224, 224, 224, 0.2) inset;
    background-color: rgb(255, 255, 255, 0.2);

    text-overflow: ellipsis;
    white-space: nowrap;
    transition:
        background-color 0.5s,
        font-size 0.5s,
        left 0.1s,
        min-width 0.1s;

    min-width: 70%;

    position: relative;
    left: 15%;
}

.menu_item:hover {
    background-color: rgb(255, 255, 255, 0.65);
    font-size: 25px;
    cursor: pointer;
    min-width: 90%;
    left: 0%;
}

.flex {
    display: flex;
    row-gap: 1em;
    column-gap: 1em;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

main {
    background-color: rgb(0, 0, 0, 0.15);
    border-radius: 0.25em;
    box-shadow: 0em 0em 0.35em rgb(20, 20, 20);
    flex-wrap: wrap;
    padding: 0.5em;
    max-width: 400px;
}

/* https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3 */
.shadow {
    -webkit-filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.7));
}

svg {
    border-radius: 0.1em;
}

svg rect {
    stroke: black;
    stroke-width: 2px;
}

#svgCanvas {
    background-color: rgb(0, 0, 0, 0.2);
    border: solid 5px rgba(0, 0, 0, 0.1);
}

#info {
    width: 160px;
    margin-top: 1em;
}

#info > .text {
    font-weight: bold;
}

.left {
    font-size: 1.1em;
    float: left;
}

.right {
    font-size: 1em;
    float: right;
}

#gameOver {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

.dark-green-highlight {
    stop-color: #01ad01;
    stop-opacity: 1;
}

.dark-red-highlight {
    stop-color: #a80101;
    stop-opacity: 1;
}

.dark-blue-highlight {
    stop-color: #0202bd;
    stop-opacity: 1;
}

.dark-yellow-highlight {
    stop-color: #b1b101;
    stop-opacity: 1;
}

.selected-highlight-green {
    filter: drop-shadow(0 0 0.5rem rgb(136, 255, 0));
    stroke: white;
}

.selected-highlight-red {
    filter: drop-shadow(0 0 0.5rem rgb(255, 41, 41));
    stroke: white;
}

.selected-highlight-blue {
    filter: drop-shadow(0 0 0.5rem rgb(0, 162, 255));
    stroke: white;
}

.selected-highlight-yellow {
    filter: drop-shadow(0 0 0.5rem rgb(255, 252, 61));
    stroke: white;
}

.help-highlight-green {
    fill: rgb(136, 255, 0);
}

.help-highlight-red {
    fill: rgb(255, 41, 41);
}

.help-highlight-blue {
    fill: rgb(0, 162, 255);
}

.help-highlight-yellow {
    fill: rgb(255, 252, 61);
}

.hide {
    display: none;
    /* visibility: hidden; */
}

.back {
    background: none;
    padding: 5px 10px;
    border-radius: 10px;

    transition: background-color 1s;
}

.back:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.back.text {
    font-weight: bold;
}
